<div class="welcome">
    <div class="welcome-content">
        <div class="welcome-message">
            <p>
                {% trans %}welcome_message{% endtrans %} -
                <a href="{{ path('homepage') }}">{{ project_name }}</a>
            </p>
            <p>
                {% trans %}welcome_caption{% endtrans %}
                {% trans %}server_status{% endtrans %}:
                {{ render_hinclude( url('game_api_server_status')  ) }}
            </p>
        </div>
        <div class="welcome-languages">
            <div class="welcome-languages-info">
                <p>
                    {% trans %}language_choose{% endtrans %}
                </p>
                <p>
                    {% trans %}language_current{% endtrans %}:
                    <span>{{ ('language_' ~ app.request.locale)|trans }}</span>
                </p>
            </div>
            <div class="welcome-languages-select">
                {% for locale in supportedLocales %}
                    <a href="?_locale={{ locale }}" class="flag-pl">
                        <img src="{{ asset('build/images/static/_user/flags/'~ locale ~'_static.png') }}"
                             alt="{{ ('language_'~ locale)|trans }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
